<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Helmove</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Helmove</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>38184125630-7affh4b860gh42v9vcrf79toov0tfc2i.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>helmove</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>helmove</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.38184125630-7affh4b860gh42v9vcrf79toov0tfc2i</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>voip</string>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sesli iletisim kurabilmeniz icin mikrofona ihtiyacimiz var.</string>
	<key>NSCameraUsageDescription</key>
	<string>Post paylasabilmeniz icin kameraya erisim iznine ihtiyacimiz var.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Galeriden gorsel secip paylasabilmeniz icin fotograflara erisim iznine ihtiyacimiz var.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gorselleri kaydedebilmeniz icin fotograf kitapligina yazma iznine ihtiyacimiz var.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Kask interkom cihaziniza baglanabilmek icin Bluetooth iznine ihtiyacimiz var.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Kask interkom cihaziniza baglanabilmek icin Bluetooth iznine ihtiyacimiz var.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Grup suruslerinde canli konum paylasimi icin konum erisimine ihtiyacimiz var.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Grup suruslerinde canli konum paylasimi icin konum erisimine ihtiyacimiz var.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>




